<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/comunity.css">
    <title></title>
  </head>
  <body>
 <button type="button" name="button">Submit Your Post</button>
<div class="row">
  <div class="column">
    <div class="card">
OTC (our tech community)
<br>
<br>
<br>
link:http://otcmeet.com
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      OTC (our tech community)
      <br>
      <br>
      <br>
      link:http://otcmeet.com
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      OTC (our tech community)
      <br>
      <br>
      <br>
    <a href="http://otcmeet.com">
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      OTC (our tech community)
      <br>
      <br>
      <br>
      link:http://otcmeet.com
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card"></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card"></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card"></div>
  </div>
</div>

  </body>
</html>
