<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
  <%  data.forEach(function(item){   %>
        <label for="">Project name</label>
        <h4><%=item.Project_name%></h4>
<label for="">Project Discription</label>
<form action="/details" method="post">
    <input type="hidden" name="id" value="<%=item._id%>">
    <!-- <input type="hidden" name="user" value="<%=item.Project_name%>"> -->
    <button type="submit">See Details</button>
</form>
<label for="">Technology</label>
<h4><%=item.techstack%></h4>
        <% }) %>
</body>
</html>